[DEFAULT]
base = {{ kolla_base }}
install_type = {{ kolla_build_install_type }}
namespace = {{ kolla_build_namespace }}
push = true
tag = {{ kolla_build_tag }}
registry = {{ local_docker_registry_url }}:5000

